{% extends 'base.html.twig' %}

{% block title %}New Assurancevehicule{% endblock %}

{% block body %}
    <h1>Create new Assurancevehicule</h1>

    {{ include('assurancevehicule/_form.html.twig') }}

    <a href="{{ path('app_assurancevehicule_indexfront') }}">back to list</a>
{% endblock %}
