{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit Assurance</h1>

    {{ include('assurance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assurance_indexfront') }}">back to list</a>

{% endblock %}
