{# avgsalerie.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Statistiques Moyennes des Salaires{% endblock %}

{% block body %}
    <h1>Statistiques Moyennes des Salaires des Clients des Assurances Vie</h1>

    <div style="width: 80%; margin: auto;">
        <canvas id="bar-chart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('bar-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Moyenne Salaire', 'Salaire Minimum', 'Salaire Maximum'],
                    datasets: [{
                        label: 'Statistiques des Salaires',
                        data: [
                            {{ salaireStats.averageSalaire }},
                            {{ salaireStats.minSalaire }},
                            {{ salaireStats.maxSalaire }}
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
    </script>
{% endblock %}
