{% extends 'base_back.html.twig' %}
{% block content %}
    <main class="main-content position-relative border-radius-lg ">
     {% include 'marketing/navbar.html.twig' %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
            
            
          <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
<div class="d-flex flex-column">
<h6 class="mb-3 text-sm">commentaire avec l ID : {{comment.id}}</h6>
<span class="mb-2 text-xs">author: <span class="text-dark font-weight-bold ms-sm-2">{{comment.author}}</span></span>
<span class="mb-2 text-xs">content: <span class="text-dark font-weight-bold ms-sm-2">{{comment.content}}</span></span>
<span class="text-xs">date de creation: <span class="text-dark ms-sm-2 font-weight-bold">{{comment.timeStamp|date('y-m-d')}}</span></span>


</div>

</li>
        </div>
      </div>
      
    </div>
  </main>
{% endblock %}
  
  